.magento{
    .mainNav__subMenuContent{
        
        .is-emptyheading {
            display: none;
            height: 25px;

            @include mq-start-from (tablet) {
                display: block;
                height: 14px;
                margin-bottom: 16px;
            }
        }

        .u-menu-spacer{
            margin-top:0!important;
        }
    }


    
} 
.cms-home{
    .mainContent{
        padding-top:0!important
    }

    .container{
        padding: 0;
    }
}
