/**
 *
 * Colors
 *
 */
@media (max-width: 767px) {
  .loginBox__input,
  .input-text.c-search2__input {
    font-size: 16px; } }

html.area-checkout .loginBox__input--three-quarter {
  width: calc(60% - 55px);
  margin-right: 10px; }

html.area-checkout .loginBox__input--small {
  width: 45px; }
