.category {
  p {
    &.fashionAdvice__content--text {
      margin: 0 auto;
    }
  }
}

.magento {
  .fashionAdvice__header {
    background-position: 0;

    @include mq-start-from(tablet) {
      background-position: 80%;
    }
  }
}
