.figureTypeOverview__text p {
  margin-top: 0;
}

.figureTypeOverview__text ul {
  font-size: 14px;
  margin-top: 8px;
}

@media (max-width: 1024px) {
  .figureTypeOverview__contentWrapper {
    flex-direction: column;
  }

  .figureTypeOverview__tilesGroup,
  .figureTypeOverview__content {
    width: 100%;
  }

  .figureTypeOverview__tile {
    height: 84px;
  }
}

.figureTypeOverview__tileText {
  font-size: 14px;
  width: 50%;
}

.figureTypeSlider__list {
  min-height: 125px;
}

li.figureTypeSlider__listItem {
  line-height: 1.25;
  margin-bottom: 4px;
}
