body.magento.cms-zahlarten .mainContent {
  padding-top: 0;
}

.servicePage,
.cms-menu {
  margin-top: 0;
}

.servicePage--payment ul {
  margin: 0 0 16px;
}

.servicePage {
  @include breakpoint(mobile) {
    padding: 0 16px;
  }
}

@include breakpoint(mobile) {
  .servicePage--payment .secondUl li figure {
    max-width: 60px;
  }

  .block__imagesfig {
    justify-content: center;
  }
}

@media (min-width: 991px) {
  .servicePage__boxContent {
    height: 446px;
  }
}

@media (min-width: 1200px) {
  .servicePage__boxContent {
    height: 420px;
  }
}

.magento .newsletterSize__emailFormContainer .FooterNewsletter__formInputGroup {
  justify-content: center;
}
