.shopbysizeShoppingBanner__linksItem{
    a{
        width: 100%;
    }   
}

.FooterNewsletter{
    .container{
        width: 100%;
    }
}
.main-footer,
.permanent-sticky-header-container{
    .row{
        margin: 0;
    }
} 
