.categorypath-modeberatung,
.categorypath-a-typ,
.categorypath-h-typ,
.categorypath-o-typ,
.categorypath-v-typ,
.categorypath-x-typ,
.categorypath-trends-looks {
  .top-container {
    margin-top: 20px;

    @include breakpoint(mobile) {
      margin-top: 0;
    }
  }
}

.categorypath-modeberatung .figureTypeOverview__hgroup {
  @include breakpoint(mobile) {
    margin-top: 0;
  }
}

@media (min-width: 767px) {
  .howTo {
    background: url(https://navabi.imgix.net/img/filterset/07_Modeberatung/2016/fashionadvice/01/fashion-advice-bg-02b.jpg)
      100% 0 no-repeat;
    background-size: cover;
  }
}
