// // // Top  Designer Pages
.categoryFullWidthText {
    align-items: center;
    background: get-color(greys, very-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $gap;
    text-align: center;

    &__logo {
        margin: 0 auto;
        max-width: 200px;
        position: relative;
        text-align: center;
        width: 100%;
        margin-top: 12px;

        img {
            max-width: 200px;
        }
    }
}

.categoryFullWidthText h1 {
    font-size: get-font-size(giga, desktop);
    @include font-weight(bold);
    margin: 0 0 ($gap / 2);
}

.categoryFullWidthText h2 {
    font-size: get-font-size(default, desktop);
    font-weight: 300;
    line-height: 1.375;
    margin: ($gap / 2) auto $gap;
    margin-bottom: $gap;
    max-width: 720px;

    @include breakpoint(mobile) {
        max-width: 90%;
    }
}

