body.categorypath-designer.category-designer .Content .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

body.categorypath-designer.category-designer .Content .container .overview__main-list-letter-header,
body.categorypath-designer.category-designer .Content .container .overview__letter-element a {
    color: get-color(dark);
}

.overview__main-list, .overview__nav-choice-container, .overview__subchoice-list {
    max-width: 1170px;

    @include breakpoint(tablet) {
        max-width: 720px;
    }
}
