// START this should probably stay only in magento, or at least tested before being put in the repo.

.fashionAdvice {
    margin-top: $gap;
}

.fashionAdvice__content.flex {
    padding: 0 0 $gap;
}

.fashionAdvice__header {
    padding: $gap;
}

p.fashionAdvice__content--text {
    margin: 0 auto;
}

// END
