.figurTypes {
    margin-bottom: $gap * 2;
    width: 100%;

    @include breakpoint(mobile) {
        margin-bottom: $gap;
    }

    &__wrapper {
        background: get-color(greys, very-light);
        display: flex;
        flex-wrap: wrap;
        padding: $gap;

        @include mq-start-from(mobile) {
            padding: 20px 60px;
        }
    }

    &__content {
        color: get-color(dark);
        padding: 0 0 $gap;
        text-align: left;
        width: 100%;

        @include mq-start-from(mobile) {
            padding: $gap 0;
        }

        .underline {
            text-decoration: underline;
        }

        &--title {
            @include font-weight(bold);
            font-size: get-font-size(bigger, desktop);
            padding: 0 0 $gap;
            text-transform: uppercase;

            &.blue {
                color: get-color(blues, base);
            }

            @include mq-start-from(mobile) {
                font-size: get-font-size(giga, desktop);
                min-width: 35%;
                padding: $gap 0;
            }

            @include mq-start-from(tablet) {
                min-width: 25%;
                padding: 0;
            }
        }

        &--listBullets {
            margin-bottom: $gap;
            margin-top: $gap / 4;

            li {
                line-height: 1.375;
                list-style-type: disc;
                list-style: outside;
                margin-left: 20px;
            }
        }

        &--sizes {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: ($gap / 2) 0 $gap;
            width: auto;

            @include mq-start-from(mobile) {
                margin: 5px 0;
            }

            li {
                @include font-weight(bold);
                background: get-color(light);
                border: 1px solid get-color(greys);
                font-size: get-font-size(large, desktop);
                height: 35px;
                line-height: 35px;
                margin: 5px 0;
                position: relative;
                text-align: left;
                text-indent: 40px;
                width: 45%;

                @include mq-start-from(mobile) {
                    text-align: center;
                    text-indent: 0;
                    width: 70%;
                }

                &::before {
                    background-size: cover;
                    content: '';
                    height: 15px;
                    left: 10px;
                    position: absolute;
                    top: 10px;
                    width: 15px;
                }

                &.type-h::before {
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-h.png');
                }

                &.type-a::before {
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-a.png');
                }

                &.type-v::before {
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-v.png');
                }

                &.type-x::before {
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-x.png');
                }

                &.type-o::before {
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-o.png');
                }
            }
        }

        @include mq-start-from(mobile) {
            &.order0 {
                align-items: center;
                display: flex;
                flex: 1 100%;
                order: 0;

                p {
                    @include font-weight(bold);
                    margin: 0;
                }
            }

            &.order1 {
                flex: 1 35%;
                order: 1;
                padding-right: $gap;
            }

            &.order2 {
                display: flex;
                flex: 1 65%;
                order: 2;
            }
        }

        @include mq-start-from(tablet) {
            &.order1 {
                flex: 1 25%;
            }

            &.order2 {
                flex: 1 75%;
            }
        }

        p {
            margin: 0;

            @include mq-start-from(mobile) {
                display: block;
            }
        }

        figure {
            display: none;

            @include mq-start-from(tablet) {
                background: get-color(light);
                border: 1px solid get-color(dark);
                display: block;
                margin: 0 30px 0 0;
                max-height: 225px;
                min-width: 150px;
                position: relative;
                width: auto;
            }

            figcaption {
                color: get-color(light);
                position: absolute;
                top: 0;
                z-index: 0;
            }

            img {
                display: block;
                height: 100%;
                margin: 0 auto;
                position: relative;
                z-index: 1;
            }
        }
    }
}

.figurTypes__contentTitle,
.figurTypes__listTitle {
    @include font(bold, big, 1.5);
}
//Hack to avoid margin all p
.category .figurTypes__content p {
    margin: 0;
}