.categoryFullWidthBanner__text {
    max-width: 500px;
}

.categoryFullWidthBanner__text h1 {
    font-size: 44px;

    @media screen and (max-width: 768px) {
        font-size: 32px;
    }
}

.categoryFullWidthBanner__logo {
    max-width: 160px;
}

.categoryFullWidthBanner__logoImage {
    max-width: 100%;

    @media screen and (max-width: 768px) {
        margin: 20px auto 8px;
    }
}

.categoryFullWidthBanner__text h2 {
    font-size: 14px;
    margin-top: 8px;
}

.categoryFullWidthBanner__logo picture {
    display: block;
}

.categoryFullWidthBanner__logo + .categoryFullWidthBanner__text {
    @media screen and (max-width: 768px) {
        padding-top: 0;
    }
}
