.cms-noroute-index {
  .breadcrumbs {
    display: none;
  }

  .mainContent {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 0;

    @include breakpoint(tablet) {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  .notfound {
    background: url("https://navabi.imgix.net/img/filterset/magento/errorpage.jpg")
      center top no-repeat;

    @include breakpoint(mobile) {
      background: #f0ebef;
    }

    .container {
      padding: 0;
      max-width: 100%;
      width: 100%;
    }

    .fontBig {
      margin-top: 16px;
    }

    .htmlTemplate__section {
      margin: 0 auto;
      max-width: 1000px;
      padding: 60px;

      @include breakpoint(mobile) {
        padding: 16px;
      }
    }

    .templateHeadline {
      margin-bottom: 16px;
    }
  }
}
